ul {
  list-style: none;

  & > li {

    span {
      display: block;
      text-decoration: underline;
      font-weight: bold;
    }

    ul {
      margin: 10px 0;
      padding-left: 10px;

      li {

        &:first-child {
          font-style: italic;
        }

        a {
          color: green;
        }

      }
    }

  }

}